
body{
  color:white;
  font-size: 16px
  background-color: red;
  background-image: url(Fatim.jpg);
  background-attachment:fixed;
  background-position:center;
  opacity: 0.9;
  text-align:center;
  boder-color: red;
}


8